// GENERALES
#bs-example-navbar-collapse-1
  text-align: righ
  font-family:Helvetica,Futura,Arial,Verdana,sans-serif
.navbar-nav 
  li a 
    color: #5b5b5a !important
    font-weight: bolder !important  
  li a:hover
    color: #7db120 !important
.navbar
  max-height: 100px !important

// INDEX
.index-sc1-subheader
  font-size: 1.5em !important
  margin-top: 0.25em !important
.index-sc2-subtitle
  font-size: 1.5em !important
.index-sc2-cuadro-impar
  background: #5d9f62 !important
.index-sc4-redes
  background: #7db120 !important
.index-sc4-copyright
  background: #476f33 !important
.index-sc4-redes .copyright-col h2
  margin: auto
.index-sc4-redes .social-col
  padding: auto !important
.index-sc4-copyright h2
  margin: auto !important

 
// NOSOTROS
.nosotros-sc1-subheader
  font-size: 1.25em !important
  margin-top: 0.25em !important
.nosotros-sc2-logo
  min-width: 20vw
  max-width: 40vw
.nosotros-sc2-presentacion 
  p
    line-height: 20px !important
    font-weight: bolder !important
.nosotros-sc2-mision
  p
    line-height: 20px !important
    font-weight: bolder !important
.nosotros-sc2-vision
  p
    line-height: 20px !important
    font-weight: bolder !important

// PRODUCTOS
.producto-sc1-subheader
  font-size: 1.25em !important
  margin-top: 0.25em !important
// NOTICIAS
.noticias-sc1-subheader
  font-size: 1.25em !important
  margin-top: 0.25em !important
.noticia-sc2
  margin-top: 100px
  margin-bottom: 100px
.noticia-sc2-post
  text-align: center
  margin-left: 10vw
  margin-right: 10vw
  .noticia-sc2-img
    max-height: 250px
    min-width: 100%
    overflow: hidden
  .noticia-sc2-title
    text-align: left
    line-height: 0px
    h2
      font-size: 1.5em
      margin-top: 5px
      margin-bottom: 5px
    h3
      font-size: 0.75em
      margin-top: 0px
      color: #aaa
  .noticia-sc2-body
    margin-top: 20px
    text-align: justify
  .noticia-sc2-control
    text-align: left
    button
      margin-top: 40px
      padding: 10px 20px
      border-radius: 0px
