#bs-example-navbar-collapse-1
  text-align: righ
  font-family:Helvetica,Futura,Arial,Verdana,sans-serif
.navbar-nav li a:hover
  color: #7db120 !important
.navbar-nav li a 
  color: #5b5b5a !important
  font-weight: bolder !important
.navbar
  max-height: 100px !important



// INDEX
.index-sc1-subheader
  font-size: 1.5em !important
  margin-top: 0.25em !important
.index-sc2-subtitle
  font-size: 1.5em !important
.index-sc2-cuadro-impar
  background: #5d9f62 !important
.index-sc4-redes
  background: #7db120 !important
.index-sc4-copyright
  background: #476f33 !important
.index-sc4-redes .copyright-col h2
  margin: auto
.index-sc4-redes .social-col
  padding: auto !important
.index-sc4-copyright h2
  margin: auto !important


  //productos

  #productos: font-size: 0px 

 
  